body {
   /* background: #eceff1;*/
   /*Override*/
    background: #3f4052;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    /*font-weight: 400;*/
    /*font-weight:100;*/
    font-size: 24px;
    overflow-y:hidden;

}

h1 {
    /*color: #ad1457;*/
    /*Override*/
    color: #af899a;
    font-size: 64px;
    font-weight: 500;
    text-align:center;
    margin-top:7%;
}


#mainDiv {
    margin: 5%; 
    height:100%;
}

/*#links {


}*/

.table#morelinks {

/*    margin-top: 40%;
*/    
    width:88%;
    text-align: center;
    position:fixed;
    bottom:10%;
    margin-bottom:0px;
    font-size:28px;
  
}

ul {
    list-style: none;
}

ul#horizontal-list li {

    display: inline;
   
}
.landingLinks {

    /*color: #eeeeee;*/
    /*Override*/
    color: #ffffff;

 
}

.bars {
    /*color: #ad1457;*/

    /* Override */
    color: #af899a;


    font-weight: 500;
    font-size:28px;

}
a{
    /*Override*/
    color: #ffffff;
    padding-left: 15px;
    padding-right:15px;
    padding-top:3px;
    padding-bottom:3px;
    margin-left:10px;
    margin-right:10px;


}

a:hover {
    text-decoration: none;
    /*font-weight:400;*/


    /*color: #08c;*/
    /*Override*/
    color: #af899a;

    /*padding: 0px;*/
    padding-left: 14px;
    padding-right: 14px;
    border: 1px solid rgba(125,125,125,0.2) ;
    border-radius: 5px;
    background: rgba(255,255,255,0.1);
}

/*a#summary{
    border:3px dashed #ffffff;
    background: rgba(255,255,255,0.2);
}*/

.photo {
    width: 240px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;

    bottom:50%;
}

embed#metxt{
    /*text-align:center;*/
    /*width: 100%;*/
}

div#aboutme {

    /*Override*/
    color: #ffffff;


    margin-top: 110px;
    margin-left: 10%;
    padding-left: 5%;
    margin-right:10%;
    margin-bottom:10%;
    text-align: left;
    width:80%;
    font-size:14px;
}

.contactIcons {
    color: #000000;
}
#contactIcons {
    color: #000000;
}

.table#contactIcons {
    color: #ffffff;
    width:10%;
    text-align:center;

    font-size:36px;
    margin-top:10%;
    margin-right:30px;

   
    
    position:fixed;
    /*position: absolute;*/
    top:0;
    left: 0;
}

.table#contactIcons #vertical-list li {
    margin-top:10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #af899a;
    /*margin: 1em 0;*/
    padding: 0; 
}






















