<!DOCTYPE html>
<html>
    {% include ganalytics.html %}
    {% include head.html %}
<body>

<script src="/assets/js/bootstrap.min.js"></script>
<div id="mainDiv" class="header-content">
    <h1>
        <a href="/">
            {% if layout.blogpost == 'y' %}
                {{'Blog'}}
            {% else %}
              {{page.title}}
            {% endif %}
        </a>
    </h1>

    <div class="table" id="morelinks">
        <ul id="horizontal-list">
            <!-- <li> <span class="bars">|</span></li> -->
            <li class="landingLinks"><a id="summary"  href="/">Home</a></li>
            <!-- <li> <span class="bars">|</span></li> -->
            <li class="landingLinks"><a id="blog" href="/blog.html">Blog</a></li>
            <!-- <li> <span class="bars">|</span></li> -->
            <li class="landingLinks"><a id="github" href="http://github.com/nsaftarli">GitHub</a></li>
            <!-- <li> <span class="bars">|</span></li> -->
            <li class="landingLinks"><a id="resume" href="./assets/files/NSaftarli-Resume.pdf">Resumé</a></li>
            <!-- <li> <span class="bars">|</span></li> -->
            <li class="landingLinks"><a id="projects" href="./projects.html">Projects</a></li>
            <!-- <li class="landingLinks"><a id="contact" href="./contactInfo.html">Contact</a></li> -->
            <!-- <li> <span class="bars">|</span></li> -->
        </ul>
    </div>
    <span id="divider"><hr id="dividingline"></span>


    <div id="content">
        {% if page.home == 'y' %}
            {% capture my_include %}
                {% include aboutme.md %}
            {% endcapture %}
            {{my_include | markdownify}}
        {% else %}
            {{content}}
        {% endif %}    
    </div>

    

    <div class="table" id="contactIcons">
        <ul id="vertical-list">

            <li class="contact-links">
                <a href="https://github.com/nsaftarli">
                    <span class="fa fa-github"></span>
                </a>
            </li>
            <li>
                <hr>
            </li>
            <li class="contact-links">
                <a href="https://facebook.com/nsaftarli">
                    <span class="fa fa-facebook"></span>
                </a>
            </li>
            <li>
                <hr>
            </li>
            <li class="contact-links">
                <a href="mailto: saftarli.n@gmail.com">
                    <span class="fa fa-envelope"></span>
                </a>
            </li>
            <li >
                <hr>
            </li>
            <li class="contact-links">
                <a href="https://twitter.com/saftarli_n"><span class="fa fa-twitter"></span></a> 
            </li>
                        <li>
                <hr>
            </li>
            <li class="contact-links">
                <a href="https://linkedin.com/in/nsaftarli">
                    <span class="fa fa-linkedin"></span>
                </a>
            </li>
        </ul>
    </div>


</div>


</body>
</html>